/Lab1/~$-04_Водзінський_Роман_лаб1.docx
/Lab1/~WRL0003.tmp
/Lab1/ІО-04_Водзінський_Роман_лаб1.docx
/Lab2/~$_04_Водзінський_Роман_лаб2.docx
/Lab2/~WRL3490.tmp
/Lab2/ІО_04_Водзінський_Роман_лаб2.docx
/Приклад оформлення лаб. роб.docx
/Методичка_з_Основи_WEB_технологій_23.docx
/Дисципліна_«Основи_WEB_технології».docx
/~$тодичка_з_Основи_WEB_технологій_23.docx
/~$сципліна_«Основи_WEB_технології».docx
/~$иклад оформлення лаб. роб.docx
/Lab4/node_modules/
/Варіанти_OWEB.xlsx
/ІО-04_Водзінський_Роман_лаб1.pdf
/ІО_04_Водзінський_Роман_лаб2.pdf
/ІО_04_Водзінський_Роман_лаб3.pdf
/Lab3/ІО_04_Водзінський_Роман_лаб3.docx
