<div class="login-form">
  <p class="text">Login</p>
  <input type="email" [(ngModel)]="email" placeholder="email" required>
  <input type="password" [(ngModel)]="password"  [type]="showPassword ? 'text' : 'password'" placeholder="password" required>
  <div class="password-visibility">
    <input id="password-visibility" type="checkbox" (change)="togglePasswordVisibility()">
    <p style="font-size: 15px">show password</p>
  </div>
  <p class="error">{{ textError }}</p>
  <button class="google-button" (click)="google()">
    <img src="assets/images/google.svg" alt=""> Continue with Google
  </button>
  <div class="buttons">
    <button class="sign-up" (click)="signUpPage()">Sing up</button>
    <button class="login" (click)="login()">Login</button>
  </div>
</div>





